<?xml version="1.0" encoding="utf-8" ?>
<ApplicationMenu>
  <RibbonPage MergeOrder="1" Name="PageCssd" Text="消毒供应中心">
    <RibbonPageGroup Text="去污区" Name="去污区" Visible="true" ShowCaptionButton="false">
      <ItemLinks>
        <BarButtonItem Caption="" Description="" Id="" Name="" Tag="" LargeGlyph="" />
        <BarSubItem  Caption="" Description="" Id="" Name="" Tag="" LargeGlyph="" LargeImageIndex="">
          <BarButtonItem Caption="" Description="" Id="" Name="" Tag="" LargeGlyph="" />
          <BarButtonItem Caption="" Description="" Id="" Name="" Tag="" LargeGlyph="" />
          <BarButtonItem Caption="" Description="" Id="" Name="" Tag="" LargeGlyph="" />
        </BarSubItem>
      </ItemLinks>
    </RibbonPageGroup>
    <RibbonPageGroup Text="清洁区" Name="清洁区" Visible="true" ShowCaptionButton="false">
      <ItemLinks>
        <BarButtonItem Caption="" Description="" Id="" Name="" Tag="" LargeGlyph="" />
        <BarSubItem  Caption="" Description="" Id="" Name="" Tag="" LargeGlyph="" LargeImageIndex="">
          <BarButtonItem Caption="" Description="" Id="" Name="" Tag="" LargeGlyph="" />
          <BarButtonItem Caption="" Description="" Id="" Name="" Tag="" LargeGlyph="" />
          <BarButtonItem Caption="" Description="" Id="" Name="" Tag="" LargeGlyph="" />
        </BarSubItem>
      </ItemLinks>
    </RibbonPageGroup>
    <RibbonPageGroup Text="无菌区" Name="无菌区" Visible="true" ShowCaptionButton="false">
      <ItemLinks>
        <BarButtonItem Caption="" Description="" Id="" Name="" Tag="" LargeGlyph="" />        
      </ItemLinks>
    </RibbonPageGroup>
    <RibbonPageGroup Text="管理" Name="管理" Visible="true" ShowCaptionButton="false">
      <ItemLinks>
        <BarButtonItem Caption="" Description="" Id="" Name="" Tag="" LargeGlyph="" />        
      </ItemLinks>
    </RibbonPageGroup>
    <RibbonPageGroup Text="操作" Name="操作" Visible="true" ShowCaptionButton="false">
      <ItemLinks>
        <BarButtonItem Caption="" Description="" Id="" Name="" Tag="" LargeGlyph="" />
      </ItemLinks>
    </RibbonPageGroup>
  </RibbonPage>
  <RibbonPage MergeOrder="2" Name="PageClinical" Text="临床医疗科室">
    <RibbonPageGroup Text="去污区" Name="去污区" Visible="true" ShowCaptionButton="false">
      <ItemLinks>
        <BarButtonItem Caption="" Description="" Id="" Name="" Tag="" LargeGlyph="" />
        <BarSubItem  Caption="" Description="" Id="" Name="" Tag="" LargeGlyph="" LargeImageIndex="">
          <BarButtonItem Caption="" Description="" Id="" Name="" Tag="" LargeGlyph="" />
          <BarButtonItem Caption="" Description="" Id="" Name="" Tag="" LargeGlyph="" />
          <BarButtonItem Caption="" Description="" Id="" Name="" Tag="" LargeGlyph="" />
        </BarSubItem>
      </ItemLinks>
    </RibbonPageGroup>
  </RibbonPage>
  <RibbonPage MergeOrder="3" Name="PageStorage" Text="物料管理">
    <RibbonPageGroup Text="库存" Name="库存" Visible="true" ShowCaptionButton="false">
      <ItemLinks>
        <BarButtonItem Caption="" Description="" Id="" Name="" Tag="" LargeGlyph="" />
        <BarButtonItem Caption="" Description="" Id="" Name="" Tag="" LargeGlyph="" />
        <BarButtonItem Caption="" Description="" Id="" Name="" Tag="" LargeGlyph="" />
        <BarButtonItem Caption="" Description="" Id="" Name="" Tag="" LargeGlyph="" />
      </ItemLinks>
    </RibbonPageGroup>
    <RibbonPageGroup Text="操作" Name="操作" Visible="true" ShowCaptionButton="false">
      <ItemLinks>
        <BarButtonItem Caption="" Description="" Id="" Name="" Tag="" LargeGlyph="" />
        <BarButtonItem Caption="" Description="" Id="" Name="" Tag="" LargeGlyph="" />
        <BarButtonItem Caption="" Description="" Id="" Name="" Tag="" LargeGlyph="" />
        <BarButtonItem Caption="" Description="" Id="" Name="" Tag="" LargeGlyph="" />
      </ItemLinks>
    </RibbonPageGroup>
    <RibbonPageGroup Text="查询" Name="查询" Visible="true" ShowCaptionButton="false">
      <ItemLinks>
        <BarButtonItem Caption="" Description="" Id="" Name="" Tag="" LargeGlyph="" />
        <BarButtonItem Caption="" Description="" Id="" Name="" Tag="" LargeGlyph="" />
        <BarButtonItem Caption="" Description="" Id="" Name="" Tag="" LargeGlyph="" />
        <BarButtonItem Caption="" Description="" Id="" Name="" Tag="" LargeGlyph="" />
      </ItemLinks>
    </RibbonPageGroup>
  </RibbonPage>
</ApplicationMenu>