<?xml version="1.0" encoding="utf-8" ?>
<LocalVariables>
  <PatientInfoInterfaces>
    <PatientInfoInterface Name="WHPP" Desc="武汉省人民" Type="Infecon.CSSD.BusinessRules.WHPP.PatientInfoBusinessRules, Infecon.CSSD.BusinessRules"></PatientInfoInterface>
	<PatientInfoInterface Name="JSPP" Desc="江苏省人民" Type="Infecon.CSSD.BusinessRules.JSPP.PatientInfoBusinessRules, Infecon.CSSD.BusinessRules"></PatientInfoInterface>
    <PatientInfoInterface Name="WHTJ" Desc="武汉同济" Type="Infecon.CSSD.BusinessRules.WHTJ.PatientInfoBusinessRules, Infecon.CSSD.BusinessRules"></PatientInfoInterface>
    <PatientInfoInterface Name="SHCZ" Desc="上海长征" Type="Infecon.CSSD.BusinessRules.SHCZ.PatientInfoBusinessRules, Infecon.CSSD.BusinessRules"></PatientInfoInterface>
    <PatientInfoInterface Name="SHCH" Desc="上海长海" Type="Infecon.CSSD.BusinessRules.SHCH.PatientInfoBusinessRules, Infecon.CSSD.BusinessRules"></PatientInfoInterface>
    <PatientInfoInterface Name="SHTJ" Desc="上海同济" Type="Infecon.CSSD.BusinessRules.SHTJ.PatientInfoBusinessRules, Infecon.CSSD.BusinessRules"></PatientInfoInterface>
    <PatientInfoInterface Name="GZMIN" Desc="广州妇幼" Type="Infecon.CSSD.BusinessRules.GZMIN.PatientInfoBusinessRules, Infecon.CSSD.BusinessRules"></PatientInfoInterface>
    <PatientInfoInterface Name="WJSZ" Desc="吴江盛泽" Type="Infecon.CSSD.BusinessRules.WJSZ.PatientInfoBusinessRules, Infecon.CSSD.BusinessRules"></PatientInfoInterface>
    <PatientInfoInterface Name="JSWJ" Desc="吴江第一" Type="Infecon.CSSD.BusinessRules.JSWJ.PatientInfoBusinessRules, Infecon.CSSD.BusinessRules"></PatientInfoInterface>
    <PatientInfoInterface Name="BJCJF" Desc="北京中日" Type="Infecon.CSSD.BusinessRules.BJCJF.PatientInfoBusinessRules, Infecon.CSSD.BusinessRules"></PatientInfoInterface>
    <PatientInfoInterface Name="BJCPLAG" Desc="北京301" Type="Infecon.CSSD.BusinessRules.BJCPLAG.PatientInfoBusinessRules, Infecon.CSSD.BusinessRules"></PatientInfoInterface>
    <PatientInfoInterface Name="JNFY" Desc="济宁" Type="Infecon.CSSD.BusinessRules.JNFY.PatientInfoBusinessRules, Infecon.CSSD.BusinessRules"></PatientInfoInterface>
    <PatientInfoInterface Name="AHBZ" Desc="亳州" Type="Infecon.CSSD.BusinessRules.AHBZ.PatientInfoBusinessRules, Infecon.CSSD.BusinessRules"></PatientInfoInterface>
	<PatientInfoInterface Name="CQXN" Desc="重庆西南" Type="Infecon.CSSD.BusinessRules.CQXN.PatientInfoBusinessRules, Infecon.CSSD.BusinessRules"></PatientInfoInterface>
    <PatientInfoInterface Name="GXZZZZQ" Desc="广西壮族自治区" Type="Infecon.CSSD.BusinessRules.GXZZZZQ.PatientInfoBusinessRules, Infecon.CSSD.BusinessRules"></PatientInfoInterface>
    <PatientInfoInterface Name="JDSY" Desc="吉大三院" Type="Infecon.CSSD.BusinessRules.JDSY.PatientInfoBusinessRules, Infecon.CSSD.BusinessRules"></PatientInfoInterface>
	<PatientInfoInterface Name="NNEY" Desc="南宁二院" Type="Infecon.CSSD.BusinessRules.NNEY.PatientInfoBusinessRules, Infecon.CSSD.BusinessRules"></PatientInfoInterface>
	<PatientInfoInterface Name="XJYKDDYFS" Desc="新疆医科大第一附属医院" Type="Infecon.CSSD.BusinessRules.XJYKDDYFS.PatientInfoBusinessRules, Infecon.CSSD.BusinessRules"></PatientInfoInterface>
	<PatientInfoInterface Name="NMHLE" Desc="内蒙海拉尔医院" Type="Infecon.CSSD.BusinessRules.NMHLE.PatientInfoBusinessRules, Infecon.CSSD.BusinessRules"></PatientInfoInterface>
	<PatientInfoInterface Name="QHPP" Desc="青海省人民" Type="Infecon.CSSD.BusinessRules.QHPP.PatientInfoBusinessRules, Infecon.CSSD.BusinessRules"></PatientInfoInterface>
	<PatientInfoInterface Name="CDJQJG" Desc="成都军区机关" Type="Infecon.CSSD.BusinessRules.CDJQJG.PatientInfoBusinessRules, Infecon.CSSD.BusinessRules"></PatientInfoInterface>
	<PatientInfoInterface Name="HJYY" Desc="海军医院" Type="Infecon.CSSD.BusinessRules.HJYY.PatientInfoBusinessRules, Infecon.CSSD.BusinessRules"></PatientInfoInterface>
	<PatientInfoInterface Name="SYTH" Desc="十堰" Type="Infecon.CSSD.BusinessRules.SYTH.PatientInfoBusinessRules, Infecon.CSSD.BusinessRules"></PatientInfoInterface>
	<PatientInfoInterface Name="YNHH" Desc="云南红河" Type="Infecon.CSSD.BusinessRules.YNHH.PatientInfoBusinessRules, Infecon.CSSD.BusinessRules"></PatientInfoInterface>
	<PatientInfoInterface Name="ZDFY" Desc="郑大附一" Type="Infecon.CSSD.BusinessRules.ZDFY.PatientInfoBusinessRules, Infecon.CSSD.BusinessRules"></PatientInfoInterface>
	<PatientInfoInterface Name="HNXY" Desc="湖南湘雅" Type="Infecon.CSSD.BusinessRules.HNXY.PatientInfoBusinessRules, Infecon.CSSD.BusinessRules"></PatientInfoInterface>
	<PatientInfoInterface Name="NXYKD" Desc="宁夏医科大" Type="Infecon.CSSD.BusinessRules.NXYKD.PatientInfoBusinessRules, Infecon.CSSD.BusinessRules"></PatientInfoInterface>
	<PatientInfoInterface Name="SHXH" Desc="上海新华" Type="Infecon.CSSD.BusinessRules.SHXH.PatientInfoBusinessRules, Infecon.CSSD.BusinessRules"></PatientInfoInterface>
	<PatientInfoInterface Name="LZZYY" Desc="兰州总医院" Type="Infecon.CSSD.BusinessRules.LZZYY.PatientInfoBusinessRules, Infecon.CSSD.BusinessRules"></PatientInfoInterface>
	<PatientInfoInterface Name="ZJEY" Desc="江苏镇江二院" Type="Infecon.CSSD.BusinessRules.ZJEY.PatientInfoBusinessRules, Infecon.CSSD.BusinessRules"></PatientInfoInterface>
	<PatientInfoInterface Name="JSXHPP" Desc="江苏兴化人民" Type="Infecon.CSSD.BusinessRules.JSXHPP.PatientInfoBusinessRules, Infecon.CSSD.BusinessRules"></PatientInfoInterface>
  </PatientInfoInterfaces>
</LocalVariables>