# You can configure your scheduler in either <quartz> configuration section
# or in quartz properties file
# Configuration section has precedence

quartz.scheduler.instanceName = QuartzSchedulerForCSSD

# configure thread pool info
quartz.threadPool.type = Quartz.Simpl.SimpleThreadPool, Quartz
quartz.threadPool.threadCount = 100
quartz.threadPool.threadPriority = Normal

# job initialization plugin handles our xml reading, without it defaults are used
quartz.plugin.xml.type = Quartz.Plugin.Xml.XMLSchedulingDataProcessorPlugin, Quartz
quartz.plugin.xml.fileNames = ~/quartz_jobs.xml
quartz.plugin.xml.scanInterval = 10

# export this server to remoting context
#quartz.scheduler.exporter.type = Quartz.Simpl.RemotingSchedulerExporter, Quartz
#quartz.scheduler.exporter.port = 555
#quartz.scheduler.exporter.bindName = QuartzScheduler
#quartz.scheduler.exporter.channelType = tcp
#quartz.scheduler.exporter.channelName = httpQuartz

  # 插件：读取SmartNode设备监控数据
quartz.plugin.smartNode.type = Infecon.CSSD.Monitor.SmartNode.SmartNodePlugin, Infecon.CSSD.Monitor.SmartNode
# 传感器组
quartz.plugin.smartNode.sensorGroup = SmartNode
# 侦听的IP
quartz.plugin.smartNode.tcpListenerIP = 192.168.1.103
# 侦听的端口号
quartz.plugin.smartNode.tcpListenerPort = 16254
# 读取监控数据的频率，单位：毫秒
quartz.plugin.smartNode.readingInterval = 120
# 解析监控数据的频率，单位：秒
quartz.plugin.smartNode.analyseInterval = 1