<?xml version="1.0" encoding="utf-8" ?>
<UserProfile>
  <SensorNode>
    <Enable>true</Enable>
    <!--接 0000B097 smart port 的机器设为true,其他设为false-->
    <PortName>COM35</PortName>
    <BaudRate>9600</BaudRate>
    <DataBits>8</DataBits>
    <Parity>None</Parity>
    <StopBits>One</StopBits>
    <ReadBufferSize>60</ReadBufferSize>
    <!--读取缓冲大小 字节-->
    <RequestTimeSpan>10</RequestTimeSpan>
    <!-- 主动查询时间间隔 单位 秒-->
    <TemperatureStandard>40</TemperatureStandard>
    <RunningMode Temperature="50" SendInterval="5"></RunningMode>
    <GeneralMode Temperature="0" SendInterval="4096"></GeneralMode>
    <!-- 运行 模式 大于 40度 每5秒发送,一般模式 60秒发送-->
    <TemperatureValidate TimeLength="240">134</TemperatureValidate>
    <!-- 温度校验配置 134度 持续 240秒-->
    <MaxTemperature>150</MaxTemperature>
    <SaveTemperature>25</SaveTemperature> 
    <MinTemperature>0</MinTemperature>

    <!-- 凡是有的节点就必须配置-->
    <MatchSensorNodes>
      <MatchSensorNode BarCode="7100002064" SensorID="0000206D" NodeType="Temperature" MonitorStatus="0"></MatchSensorNode>
      
      <MatchSensorNode BarCode="7140000001" SensorID="4000000A" NodeType="TemperatureHumidity" MonitorStatus="0"></MatchSensorNode>
      <MatchSensorNode BarCode="7140000002" SensorID="4000000B" NodeType="TemperatureHumidity" MonitorStatus="0"></MatchSensorNode>

      <MatchSensorNode BarCode="7100000001" SensorID="0000B0C1" NodeType="TemperaturePressure" MonitorStatus="0"></MatchSensorNode>
      <MatchSensorNode BarCode="7100000003" SensorID="0000B0C3" NodeType="TemperaturePressure" MonitorStatus="0"></MatchSensorNode>
      
      <MatchSensorNode BarCode="7100003656" SensorID="00003652" NodeType="TemperaturePressureAccurate" MonitorStatus="0"></MatchSensorNode>
      <MatchSensorNode BarCode="7100029873" SensorID="000074B1" NodeType="TemperatureHumidity" MonitorStatus="0"></MatchSensorNode>

      <MatchSensorNode BarCode="7110000001" SensorID="0000B9A5" NodeType="TemperatureHumidity" MonitorStatus="0"></MatchSensorNode>
      <MatchSensorNode BarCode="7110000002" SensorID="0000B9A6" NodeType="TemperatureHumidity" MonitorStatus="0"></MatchSensorNode>
      <MatchSensorNode BarCode="7110000003" SensorID="0000B9A7" NodeType="TemperatureHumidity" MonitorStatus="0"></MatchSensorNode>
      <MatchSensorNode BarCode="7110000004" SensorID="0000B9A8" NodeType="TemperatureHumidity" MonitorStatus="0"></MatchSensorNode>
      <MatchSensorNode BarCode="7110000005" SensorID="0000B9A9" NodeType="TemperatureHumidity" MonitorStatus="0"></MatchSensorNode>
      <MatchSensorNode BarCode="7110000006" SensorID="0000B9AA" NodeType="TemperatureHumidity" MonitorStatus="0"></MatchSensorNode>
      <MatchSensorNode BarCode="7110000007" SensorID="0000B9AB" NodeType="TemperatureHumidity" MonitorStatus="0"></MatchSensorNode>
      <MatchSensorNode BarCode="7110000008" SensorID="0000B9AC" NodeType="TemperatureHumidity" MonitorStatus="0"></MatchSensorNode>
      <MatchSensorNode BarCode="7110000009" SensorID="0000B9AD" NodeType="TemperatureHumidity" MonitorStatus="0"></MatchSensorNode>
      <MatchSensorNode BarCode="7110000010" SensorID="0000B9AE" NodeType="TemperatureHumidity" MonitorStatus="0"></MatchSensorNode>
    </MatchSensorNodes>

    <NodeSettings>
      <NodeSetting NodeType="Temperature" >
        <TimeLength>600</TimeLength>
        <StartTemperature>40</StartTemperature>
        <EndTemperature>40</EndTemperature>
        <Times>5</Times>
        <!-- 当秒数存在的时候,以秒数为准 TimeLength 为秒数 -->
      </NodeSetting>
      <NodeSetting NodeType="TemperatureHumidity">
        <TimeLength>600</TimeLength>
        <StartTemperature>40</StartTemperature>
        <EndTemperature>40</EndTemperature>
        <Times>5</Times>
      </NodeSetting>
      <NodeSetting NodeType="TemperaturePressure">
        <TimeLength>300</TimeLength>
        <StartTemperature>40</StartTemperature>
        <EndTemperature>40</EndTemperature>
        <Times>5</Times>
      </NodeSetting>
      <NodeSetting NodeType="TemperaturePressureAccurate">
        <TimeLength>600</TimeLength>
        <StartTemperature>40</StartTemperature>
        <EndTemperature>40</EndTemperature>
        <Times>5</Times>
      </NodeSetting>
    </NodeSettings>

    <SerialPortCmdFormat>
      <SYNC Bits="2" StartBit="0" DataDefine="AA"></SYNC>
      <STX Bits="2" StartBit="2" DataDefine="75"></STX>
      <LEN Bits="2" StartBit="4" Expression="{0} * 2"></LEN>
      <!-- 62表示接受温度数据 -->
      <CMD Bits="2" StartBit="6" DataDefine="62"></CMD>
      <!--如果需要显示所有节点数据,请去掉DataDefine-->
      <SourceAddress Bits="8" StartBit="8"  ></SourceAddress>
      <Payloads>
        <!-- Temperature表示温度湿度 -->
        <Payload StartBit="16" Bits="14" NodeType="Temperature">
          <TemperatureSymbol StartBit="0" Bits="2" DataDefine="9A"></TemperatureSymbol>
          <TemperatureData Bits="4" Expression="({0}-10000)/100"></TemperatureData>
          <HumiditySymbol Bits="2" DataDefine="9E"></HumiditySymbol>
          <HumidityData Bits="4" Expression="({0})/100"></HumidityData>
        </Payload>
        <!-- TemperatureHumidity表示温度湿度 -->
        <Payload StartBit="16" Bits="14" NodeType="TemperatureHumidity">
          <TemperatureSymbol Bits="2" DataDefine="9A"></TemperatureSymbol>
          <TemperatureData Bits="4" Expression="({0}-10000)/100"></TemperatureData>
          <HumiditySymbol StartBit="6" Bits="2" DataDefine="9E"></HumiditySymbol>
          <HumidityData StartBit="8" Bits="4" Expression="({0})/100"></HumidityData>
        </Payload>
        <!-- TemperaturePressure表示温度压力 -->
        <!-- AA 75 10 62 00 00 B0 C1 9A 06 08 9F E3 03 1B 98 00 00  -->
        <Payload StartBit="16" Bits="16" NodeType="TemperaturePressure">          
          <TemperatureSymbol  Bits="2" DataDefine="9A"></TemperatureSymbol>
          <TemperatureData  Bits="4" Expression="{0}/100"></TemperatureData>
          <PressureSymbol StartBit="6" Bits="2" DataDefine="9F"></PressureSymbol>
          <PressureData StartBit="8" Bits="4" Expression="{0}"></PressureData>
          <VoltageSymbol StartBit="12" Bits="2" DataDefine="1B"></VoltageSymbol>
          <VoltageData StartBit="14" Bits="2" Expression="{0}/50"></VoltageData>
        </Payload>
        
        <!-- TemperaturePressureAccurate表示温度压力(高精度) -->
        
        <Payload StartBit="16" Bits="24" NodeType="TemperaturePressureAccurate">
          <!--<TemperatureSymbol StartBit="24" Bits="0" DataDefine="9A,92,93"></TemperatureSymbol>
          <TemperatureData StartBit="24" Bits="4" Expression="({0})/10"></TemperatureData>
          <PressureSymbol StartBit="18" Bits="2" DataDefine="9F"></PressureSymbol>
          <PressureData StartBit="20" Bits="4" Expression="{0}"></PressureData>-->
          <Lua Symbol="Temperature" StartBit="16" Length="18"  Path="\AddOn\Lua\SmartNode\TemperatureAccurate.lua" ></Lua>
          <Lua Symbol="Pressure" StartBit="34" Length="6"  Path="\AddOn\Lua\SmartNode\PressureAccurate.lua" ></Lua>
        </Payload>
      </Payloads>
      <CAC Bits="4" DataDefine="0000"></CAC>

    </SerialPortCmdFormat>

    <SetSendIntervalFormat>
      <SYNC Bits="2" StartBit="0" DataDefine="55"></SYNC>
      <STX Bits="2" StartBit="2" DataDefine="7A"></STX>
      <LEN Bits="2" StartBit="4" ></LEN>
      <CMD Bits="2" StartBit="6" DataDefine="84"></CMD>
      <SourceAddress StartBit="8" Bits="8" DataDefine="0000206D"></SourceAddress>
      <Password Bits="8" StartBit="16" DataDefine="00000000"></Password>
      <PayloadSymbol StartBit="24" Bits="2" DataDefine="17"></PayloadSymbol>
      <PayloadData StartBit="26" Bits="4" Expression=""></PayloadData>
      <CAC Bits="4"></CAC>
    </SetSendIntervalFormat>
    <MaxQueueSize>5000000</MaxQueueSize>
    <!-- 最大队列数 -->
    <Gauge>
      <RangeBar Min="" Max="" ></RangeBar>
    </Gauge>
  </SensorNode>
</UserProfile>
