<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Infecon.CSSD.Dal.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Infecon.CSSD.Dal.Properties.Settings>
            <setting name="Infecon_CSSD_WHTJHISWebReference_Service" serializeAs="String">
                <value>http://192.168.200.234/getpatinfo/service.asmx</value>
            </setting>
            <setting name="Infecon_CSSD_SHCZHISWebReference_CSSDService"
                serializeAs="String">
                <value>http://10.5.1.170/CSSDService.asmx</value>
            </setting>
        </Infecon.CSSD.Dal.Properties.Settings>
    </applicationSettings>
</configuration>